<%include header.ejs%>
  <div class="container">
    <div class="alert alert-success d-none" role="alert" id="successEdit">
        Question Updated!
    </div>
    <div class="alert alert-danger d-none" role="alert" id="errorEdit">
        Something Went Wrong!
    </div>
    <div style="max-width: 750px;margin: 50px auto;" class="bg-light p-5">
      <h2 class="text-center m-4">Edit Question</h2>
      <form action="/ques/editQuestion" method="post" id="editQuestionForm">
        <input type="text" value="<%=data._id%>" class="form-control" name="qid" readonly>
        <input type="text" name="title" placeholder="Enter the Title of the Question" class="form-control" required value="<%=data.title%>"><br>
        <input type="text" class="form-control" name="desc" id="" placeholder="Enter the description" required value="<%=data.desc%>"><br>
        <% for(let i=0;i<data.options.length;i++){%>
        <input type="text" name="option<%=i+1%>" id="option<%=i+1%>" class="form-control" placeholder="Enter the Option <%=i+1%>" required value="<%=data.options[i]%>"><br>
        <%}%>
        <%if(data.options.length==4){%>
          <input type="text" name="option5" id="option5" class="form-control" placeholder="Enter the Option 5" ><br>
          <input type="text" name="option6" id="option6" class="form-control" placeholder="Enter the Option 6"><br>
        <%}else if(data.options.length==5){%>
          <input type="text" name="option6" id="option6" class="form-control" placeholder="Enter the Option 6"><br>
        <%}%>
        <input type="text" name="answer" id="" class="form-control" placeholder="Enter the Correct Answer" required value="<%=data.answer%>"><br>
        <input type="button" id="btnEdit" class="form-control btn btn-info" value="Edit Question">
        <button id="btnCancel" class="btnCancel form-control btn btn-secondary mt-3">Cancel</button>
      </form>
    </div>
  </div>

<%include footer.ejs%>
  
</body>
<script src="../index.js"></script>
</html>