<%include header.ejs%>
<div class="container">
  
    <div id="divListOfQuestion">
        <div class="d-flex flex-wrap justify-content-center" id="quesDiv">
          <% for(let i=0; i < data.length; i++) { %>
            <%if(data[i].isActive==true){%>
            <div class="card" id='<%= data[i]._id %>' style="width:250px;margin:10px;">
                <div class="card-body">
                    <h5 class="card-title title text-center font-weight-bold"><%=data[i].title %></h5>
                    <p class="card-text Desc"><%=data[i].desc %></p> 
                    <% for(let j=0;j<data[i].options.length;j++){%>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                              </div>
                            </div>
                            <input type="text" class="form-control bg-white" aria-label="Text input with radio button" name="ques<%=i+1%>" value="<%=data[i].options[j]%>" readonly>
                          </div>
                    <%}%>
                    
                </div>                  
            </div>
            <%}%>
            <%}%>
          </div>
          <div class="endTest d-flex justify-content-center">
            <button type="button" class="btn btn-outline-white bg-white">End Test</button>
          </div>
      </div>
    </div>
<%include footer.ejs%>