<%include header.ejs%>
<div class="container">
  
  <% if(data.length>0){%>
    <div id="divListOfQuestion">
      <form action="#" class="" id="testForm">
        <div class="d-flex flex-wrap justify-content-center align-items-center flex-column" id="quesDiv">
          <% for(let i=0; i < data.length; i++) { %>
            <%if(data[i].isActive==true){%>
            <div class="card" id='<%= data[i]._id %>' style="width:600px;margin:10px;">
                <div class="card-body" id="ques<%=i+1%>">
                    <h5 class="card-title title text-center font-weight-bold"><%=data[i].title %></h5>
                    <p class="card-text Desc"><%=data[i].desc %></p> 
                    <% for(let j=0;j<data[i].options.length;j++){%>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="radio" name="ques<%=i+1%>" aria-label="Radio button for following text input" value="<%=data[i].options[j]%>">
                              </div>
                            </div>
                            <p class="form-control bg-white" name="ques<%=i+1%>Text"><%=data[i].options[j]%></p>
                          </div>
                    <%}%>
                    
                </div>                  
            </div>
            <%}%>
            <%}%>
          </div>
          <div class="endTest d-flex justify-content-center">
            <button type="submit" id="endTestBtn" class="btn btn-outline-white bg-white">End Test</button>
          </div>
        </form>
      </div>
    <%}else{%>
      <h3 class="text-center text-white">Sorry! No test available at the moment.</h3>
      <%}%>
    </div>
<%include footer.ejs%>